<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="row">
              <h4 class="text-dark">Mens T-shirt & Shirt<span>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="row float-end me-2">
                <a class="text-decoration-none ShowMoreBtn" href="/men">Show More</a>
            </div>
        </div>
    </div>


    <div class="row">
        {{#each data}}
        <div class="col-md-3 col-sm-6">
        <a href="/men" class="text-decoration-none text-dark">
            <div class="card border rounded mx-auto">
           <img class="productimage" src="../Image/{{photo}}">
                <h5 class="mt-3 text-center">{{ProductName}}</h5>
                <p class="mt-3 text-center ProductDetails">{{ProductDetails}}</p>
                <p class="mt-3 text-center price"><strong>Rs</strong> {{Price}}</p> 
                <a class="rating  mx-auto mb-3 text-decoration-none" href="/product/{{id}}">Buy Now</a>
                </div>
        </a>
        </div>
         {{/each}}
    </div>

    </div>



















